<br>
<h4>USER MANUAL</h4>
<a>1. User can use the navigation bar at the top of the page</a><br>
<a>2. User can search the song or the artist at the search page</a><br>
<a>3. The result of the search will be shown at the searchresult page</a><br>
<a>4. When the user click the chosen video, it will be redirected to YouTube</a>

<br><br>
<h4>CONTACT US AT</h4>
<img src="assets/ig.jpeg" alt="ig" width="30" height="30">
<img src="assets/X.jpg" alt="X" width="50" height="30">
<img src="assets/fb.png" alt="facebook" width="30" height="30">
<img src="assets/google.png" alt="google" width="30" height="30">
